<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TicariOtomasyon.Properties.Settings.DboTicariOtomasyonConnectionString"
            connectionString="Data Source=DESKTOP-QTDSAOT\SQLEXPRESS;Initial Catalog=DboTicariOtomasyon;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="DboTicariOtomasyonConnectionString" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-QTDSAOT\SQLEXPRESS;integrated security=SSPI;initial catalog=DboTicariOtomasyon;Encrypt=true;TrustServerCertificate=true" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-16.0.0.0" newVersion="16.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>